

body {
    color: black;
    background-color: aliceblue;
}

p{
    background-color: aqua;
}

a{
    background-color: aqua;
}

div{
    background-color: aqua;
}

span{
    background-color: aqua;
}